<header class="navigation-container">
  <div class="logo-container">
    <span>BAKERS APP</span>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list-item">
        <a routerLink="/login">Login</a>
      </li>
      <li class="nav-list-item">
        <a routerLink="/about">About</a>
      </li>
      <li class="nav-list-item">
        <a routerLink="/recipes">Recipes</a>
      </li>
      <li class="nav-list-item">
        <a routerLink="/user">User</a>
      </li>
    </ul>
  </nav>
</header>
