<header class="navigation-container">
  <div class="logo-container">
    <span>BAKERS APP</span>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list-item">
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-list-item">
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-list-item">
        <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
      </li>
      <li class="nav-list-item">
        <a routerLink="/user" routerLinkActive="active">User</a>
      </li>
    </ul>
  </nav>
</header>
